body {
	width: 950px
	color: #000000;
	margin: 0; padding: 0;
	background-color: #535353;
	font-family: courier, monospace;
	font-weight: bold;
	white-space: nowrap;
	font-size: 14px;
}

/**LINKS**/
#links {
	color: #ffffff;
	font-size: x-small;
	font-family: "arial";
	font-weight: bold;
}
#links > a {text-decoration: none}
.link1 > a {color: #ffffff}
.link2 > a {color: #29ff4a}
.link3 > a {color: #39d5f6}
.link4 > a {color: #f7f72a}
.link5 > a {color: #ffb529}

/**MAIN**/
#main {
	width: 950px;
	background-color: #c6c6c6;
	padding-top: 7px;
	padding-bottom: 23px;
	margin: 0 auto;
}

/**PAGENAME**/
#pagename {
	width: 650px;
	background-color: #EEEEEE;
	font-size: xx-large;
	padding-block: 14px;
	margin: 0 auto;
}

/**IMAGE**/
#main > img {
	width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/**MAINTEXT**/
#maintext {
	width: 650px;
	background-color: #EEEEEE;
	margin: 0 auto;
	padding-top: 33px;
}

#maintext > center {margin-bottom: 30px;}

/**TEXTLOG**/
#showlog:checked ~ #log {display: none;}
#showlog {
	position: absolute;
  	right: 0px;
	width: 100%;
	opacity: 0;
}
#logbox {
	border: 1px dashed gray;
	padding: 1px;
	width: 596px;
	margin: 0 auto;
	margin-bottom:35px;
}
#log {
	text-align: left;
	width: 90%;
	margin-top: 17px;
	margin-bottom: 17px;
	white-space: normal;
}

/**NEXT**/
#next::before {content:"> "}
#next {
	margin-left: 25px;
	margin-bottom: 32px;
	font-weight: normal;
	font-size: x-large;
	font-family: "Verdana", "Arial";
}

/**JUMP**/
#jump {
	margin-left: 25px;
	font-family: "Verdana", "Arial";
	font-size: 10px;
}
#jumpC {
	display: inline-flex;
	margin-left: 50.4833px;
	margin-bottom: 16px;
}
